<div class="uv-form" id="emailInputContainer">
    <div class="uv-element-block">
        <label class="uv-field-label">{{ 'Email'|trans }}</label>

        <div class="uv-field-block">
            <input class="uv-field" type="email" name="_username">
        </div>
    </div>

    <ul class="uv-login-form-actions" style="color: inherit; margin-bottom: 10px;">
        <li>
            <a class="uv-continue-with-pass" id="uv-login-with-pass" tabIndex="-1">{{ 'Continue using password'|trans }}</a> instead.
        </li>
    </ul>

    <button class="uv-btn uv-submit-form" id="email-submit">{{ 'Sign In With otp'|trans }}</button>
</div>
